<form action="/todos/<%= @todos['id'] %>" method="post">
  <input type="hidden" name="_method" value="put">

  <label for="todos">Uppgift:</label>
  <input type="text" name="todos" value="<%= @todos['todos'] %>" required>

  <label for="impScale">Viktighetsvärde (1=Viktigast):</label>
  <input type="number" name="impScale" min="1" value="<%= @todos['impScale'] %>" required>

  <label for="description">Beskrivning:</label>
  <textarea name="description" required><%= @todos['description'] %></textarea>

  <input type="submit" value="Spara ändringar">
</form>
