<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projekt #2</title>
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>">
</head>
<body>
  <div class="header">
    <h2>Todo list:</h2>
  </div>

  <div class="grid-container">
    <div class="card" style="background-color: #E74C3C;"></div>
    <div class="card" style="background-color: #E91E63;"></div>
    <div class="card" style="background-color: #8E7D7D;"></div>
    <div class="card" style="background-color: #6D4C41;"></div>
    <div class="card" style="background-color: #F1C40F;"></div>
    <div class="card" style="background-color: #3498DB;"></div>
    <div class="card" style="background-color: #2ECC71;"></div>
    <div class="card add-card">
      <span>+</span>
    </div>
  </div>

</body>
</html>
