* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
}

header, footer {
  background: blue;
  color: #fff;
  padding: 1em;
}

header ul {
  list-style: none;
  display: flex;
  gap: 1em;
}

header a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 2em;
}

.header {
  width: 100%;
  background-color: #8B8B8B;
  padding: 20px 0;
  text-align: center;
  color: #FFFFFF;
  font-size: 24px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 50px;
  max-width: 90vw;
}

.card {
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column; /* Låt innehållet staplas vertikalt */
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #33b3b8; /* Blå bakgrund */
  color: rgb(0, 0, 0); /* Vit text för bättre kontrast */
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Liten skugga för 3D-effekt */
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); 
}

.delete {
  background-color: red;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.delete:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.edit {
  background-color: yellow;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.edit:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

li {
  text-align: left;
}



